.about {
  background-color: #f0f1f3;

  .about-me {
    padding: 60px 0;

    .about-image {
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border: 5px solid #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

.download-cv {
  background-color: #a53dff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #aa5dee;
  }
}
